audio {
   display: none;
}

.header {
   margin: 0 auto;
   padding-left: 50px;
   padding-top: 60px;
   color: white;
   font-family: 'Orbitron', sans-serif;
   letter-spacing: 5px;
   font-size: 50px;
}

.App {
   margin-top: 30px;
   background-image: url('http://getwallpapers.com/wallpaper/full/7/8/7/569472.jpg');
   background-color: black;
   background-size: 100%;
}

.select {
   width: 200px;
   height: 40px;
   font-size: 20px;
   margin-left: 50px;
   margin-top: 20px;
   outline-color: rgb(143, 242, 255);
   background: rgba(255, 255, 255, 0.761);
   border: none;
   padding-left: 10px;
   font-family: 'Orbitron', sans-serif;
}


.option {
   background: white;
   -webkit-appearance: none;
}


.keyboard {
   display: flex;
   margin: 400px auto;
   flex-wrap: wrap;
   width: 850px;
   height: 300px;
   text-align: center;
}

.keys {
   width: 55px;
   height: 55px;
   text-align: center;
   line-height: 60px;
   margin: 15px;
   background: rgba(255,255,255, 0.55);
   color: white;
   font-size: 20px;
   font-family: 'Orbitron', sans-serif;
}
.keys:nth-last-of-type(16) {
   margin-left: 55px;
}
.keys:nth-last-of-type(7) {
   margin-left: 140px;
}

