audio {
   display: none;
}

.header {
   margin: 0 auto;
   padding-left: 50px;
   padding-top: 40px;
   color: white;
   letter-spacing: 5px;
   font-size: 50px;
}

.App {
   background-image: url('http://getwallpapers.com/wallpaper/full/7/8/7/569472.jpg');
   background-color: black;
   left: 10px;
   background-size: 100%;
   height: 100vh;
}

.select {
   width: 200px;
   height: 40px;
   font-size: 20px;
   margin-left: 50px;
   margin-top: 20px;
   outline-color: rgb(143, 242, 255);
   background: rgba(255, 255, 255, 0.761);
   border: none;
   padding-left: 10px;
   font-family: 'Orbitron', sans-serif;
}


.option {
   background: white;
   -webkit-appearance: none;
}

.keyboard {
   display: flex;
   padding-top: 30px;
   margin: 0 auto;
   margin-bottom: 20px;
   flex-wrap: wrap;
   width: 850px;
   height: 200px;
   text-align: center;
}

.keys {
   width: 55px;
   height: 55px;
   text-align: center;
   line-height: 60px;
   margin: 7px;
   background: rgba(255,255,255, 0.55);
   font-size: 20px;
}
.keys:nth-child(13) {
   margin-left: 40px;
}
.keys:nth-last-of-type(10) {
   margin-left: 75px;
}

.random {
   border: 5px rgba(255,255,255, 0.55) solid;
   border-radius: 10px;
   background: rgba(255,255,255, 0.1);
   width: 1000px;
   height: 300px;
   margin: 5px auto;
   margin-top: 40px;
}

form {
   text-align: center;
}
.label {
   color: white;
   font-size: 20px;
   text-align: center;
}

.text-input {
   border: 2px rgba(255,255,255, 0.55) solid;
   border-top-left-radius: 5px;
   border-bottom-left-radius: 5px;
   border-right: none;
   background: rgba(255,255,255, 0.55);
   width: 350px;
   font-size: 20px;
   font-family: 'Orbitron', sans-serif;
   padding: 10px 0 10px 10px;
   text-align: center;
}

.submit-input {
   border: none;
   border-top-right-radius: 5px;
   border-bottom-right-radius: 5px;
   background: rgba(255,255,255, 0.7);
   vertical-align: 2px;
   height: 44px;
   font-family: 'Orbitron', sans-serif;
   padding-left: 10px;
   padding-right: 15px;
   font-size: 15px;
}
.canvas {
   position: absolute;
   margin-left: 30px;
   top: 750px;

}
